* {
    margin: 0;
    padding: 0;
    user-select: none;
}


#body {
    background-image: url('https://bronk.club/uploads/posts/2023-02/1677170563_bronk-club-p-otkritki-s-peizazhami-prirodi-pinterest-52.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-size: 10;
    position: relative;
}

#nav {
    position: absolute;
    background: rgba(66, 0, 199, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: -13px;
    padding-top: 18px;
    z-index: 1;
    border-radius: 20px;
}

#nav #buttons li a i:hover{
    transition: 0.2s;
    color: white;
    transform: scale(1.3);
}

#nav #buttons li a i{
    color: black;
    font-size: 20pt;
    transition: all linear .25s;
}

#buttons {
    list-style: none;
}

#buttons li {
    display: inline;
}


/* additional information */

#nick {
    position: absolute;
    color: #470070;
    top: 40%;
    left: 50%;
    font-family:'Courier New', Courier, monospace;
    font-size: 3vh;
    font-weight: 900;
    text-shadow: 1px 1px 20px rgb(90, 8, 90);
    transform: translate(-50%, -50%);
    transition: 0.2s;
  }

#nick:hover {
    transition: 0.2s;
    color: #ffffff;
}

#head {
    position: absolute;
    width: 5%;
    top: 45%;
    left: 48%;
    border-radius: 2vh;
    -webkit-box-shadow: 0px 0px 50px -1px rgba(80, 2, 110, 1);
    -moz-box-shadow: 0px 0px 50px -1px rgb(53, 51, 54);
    box-shadow: 0px 0px 50px -1px rgba(80, 2, 110, 1);
    transition: 1s;
    cursor: pointer;
}

#head:hover {
    transition: 1s;
    transform: scale(1.3);
}

#bio-box {
    opacity: 0;
    transition: 1s;
    position: absolute;
    background: rgba(66, 0, 199, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    left: 5%; bottom: 60%;
    width: 27%;
    height: 25%;
    border-radius: 2vh;
    font-size: 3vh;
    font-weight: 900;
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
    padding: 0em 3em 0em;
}

#bio-box.--up {
    bottom: 61%;
}

#bio-box.--show {
    opacity: 100;
    transition: 1s;
}

#bio{
    position: absolute;
    list-style: none; 
    padding: 0;
    font-size: 2vh;
    bottom: 10%;
    left: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#bio li{
    position: relative;
    display: block;
    text-align: left;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #242424;
    color: #DAD2CA;
    border-radius: .3em;
    font-size: 1.2vh;
    font-weight: 200;
    height: 2em;
    margin-top: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

#bio li a{
    text-decoration: none;
    color:#ffffff;
}

#bio li a:hover{
    transition: 0.2s;
    color:#5900ff
}

#skin-box {
    opacity: 0;
    transition: 1s;
    position: absolute;
    right:15%; bottom: 10%;
    width: 15%; height: 40%;
    background: rgba(66, 0, 199, 0.1);
    backdrop-filter: blur(10px);
    padding-top: 1%;
    border-radius: 2vh;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#skin-box.--up {
    bottom: 11%;
}

#skin-box.--show {
    opacity: 100;
    transition: 1s;
}

#skin-box span{
    font-family: "Press Start 2P", system-ui;
    font-size: 2vh;
    font-weight: 900;
}

#skin {
    transition: 2s;
    width: 80%;
}

#skin:hover {
    transition: 1s;
    transform: scale(1.1);
}
/* !additional information */


/* Tooltip */
[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
 content: attr(data-tooltip);
 position: absolute;
 width: 200px;
 text-align: center;
 left: -90px; top: 0;
 background: #000000;
 color: #fff;
 padding: 0.5em;
 -webkit-box-shadow: 0px 0px 50px -1px rgb(0, 0, 0);
 -moz-box-shadow: 0px 0px 50px -1px rgb(0, 0, 0);
 box-shadow: 0px 0px 50px -1px rgb(0, 0, 0);
 pointer-events: none;
 opacity: 0;
 transition: 1s;
} 

[data-tooltip]:hover::after {
 opacity: 1;
 top: 2em;
}

[data-tooltip][data-tooltip-type="2"] {
    position: relative;
}

[data-tooltip][data-tooltip-type="2"]::after {
    content: attr(data-tooltip);
    text-align: center;
    position: absolute;
    font-size: 10pt;
    padding-bottom: 1pt;
    width: 200px;
    height: 20px;
    text-align: center;
    left: 0; top: 0;
    background: #000000;
    color: #fff;
    -webkit-box-shadow: 0px 0px 50px -1px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 50px -1px rgb(0, 0, 0);
    box-shadow: 0px 0px 50px -1px rgb(0, 0, 0);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
   } 

[data-tooltip][data-tooltip-type="2"]:hover::after {
 opacity: 1;
 top: 2em;
}
/* !Tooltip */